.page button{
    background-color: orange;
}




.page button{
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.page button:hover{
    background-color: #777;
}